
<apiConfig>
    <tokenPwd>KaKS8hro1Ljf7YXIK+iiag5ofiPmaucUqqfBTu7eVVI=</tokenPwd>
    <accessLoggerName>net.pocrd.api.access</accessLoggerName>
    <staticSignPwd>pocrd@gmail.com</staticSignPwd>
	<autogenPath>D:\\software\\jd\\</autogenPath>
	<cacheType>Redis</cacheType>
	<cacheVersion>v1.0</cacheVersion>
	<!--<connectString>jdbc:mysql://localhost/gougoudai?user=root&password=123</connectString>-->
	<c3p0config>
		<driverClass>com.mysql.jdbc.Driver</driverClass>
		<jdbcUrl>jdbc:mysql://localhost/test?useUnicode=true&amp;characterset=utf-8
		</jdbcUrl>
		<user>api</user>
		<password>abc@123</password>
		<!-- 如果池中数据连接不够时一次增长多少个 -->
		<acquireIncrement>5</acquireIncrement>
		<initialPoolSize>1</initialPoolSize>
		<minPoolSize>5</minPoolSize>
		<maxPoolSize>10</maxPoolSize>
		<maxStatements>10</maxStatements>
		<maxStatementsPerConnection>5</maxStatementsPerConnection>
	</c3p0config>
</apiConfig>
