
<apiConfig>
    <tokenPwd>KaKS8hro1Ljf7YXIK+iiag5ofiPmaucUqqfBTu7eVVI=</tokenPwd>
    <accessLoggerName>net.pocrd.api.access</accessLoggerName>
    <staticSignPwd>pocrd@gmail.com</staticSignPwd>
	<autogenPath>/home/rendong/autogen</autogenPath>
	<cacheType>Redis</cacheType>
	<cacheVersion>v1.0</cacheVersion>
	<!--<connectString>jdbc:mysql://localhost/gougoudai?user=root&password=123</connectString>-->
		<!--<jdbcPoolConfig>
		<driverClassName>com.mysql.jdbc.Driver</driverClassName>
		<userName>root</userName>
		<password>123</password>
		<jdbcUrl>jdbc:mysql://localhost/gougoudai?useUnicode=true&amp;characterset=utf-8</jdbcUrl>
		<testWhileIdle>true</testWhileIdle>
		<testOnBorrow>true</testOnBorrow>
		<testOnReturn>false</testOnReturn>
		<validationQuery>SELECT 1</validationQuery>
		<validationInterval>30000</validationInterval>
		<timeBetweenEvictionRunsMillis>30000</timeBetweenEvictionRunsMillis>
		<maxActive>100</maxActive>
		<initialSize>10</initialSize>
		<minEvictableIdleTimeMillis>30000</minEvictableIdleTimeMillis>
		<minIdle>10</minIdle>
		<maxIdle>100</maxIdle>
		<maxWait>10000</maxWait>
		<removeAbandonedTimeout>60</removeAbandonedTimeout>
		<removeAbandoned>true</removeAbandoned>
		<logAbandoned>true</logAbandoned>	
		<jmxEnabled>true</jmxEnabled>	
		<jdbcInterceptors>org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer</jdbcInterceptors>
    </jdbcPoolConfig>-->
</apiConfig>
