<configuration debug="true">
    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--<FileNamePattern>/usr/admin/logs/apitest/info/info-%d{yyyy-MM-dd}-%i.log</FileNamePattern>-->
            <FileNamePattern>/home/admin/logs/apigwtest/info/info-%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <MaxHistory>10</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%t]: x:\(%X\) %class %L %M - msg:%msg ex:%xEx%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="INFO"/>
    </root>
</configuration>